* html,
body {
  background-color: #F4F4F4;
  background-image: url(../images/water-background.jpg);
  background-size: cover; }

.gradient-line {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black)); }

#nav-brand {
  margin-top: -1.5em;
  z-index: 999999; }

#footer-logo {
  float: left;
  height: 15em;
  line-height: 15em; }
  #footer-logo img {
    color: #c2bba8;
    padding-top: .15em;
    width: 12em; }

@media (max-width: 700px) {
  #footer-logo {
    text-align: center;
    float: none;
    width: 100%; } }
#copyright {
  text-align: center;
  margin-top: -2em;
  font-size: 1.2em;
  font-weight: 300; }

@media (max-width: 700px) {
  #copyright {
    margin-top: 0em;
    bottom: 0; } }
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #a0adb7;
  min-height: 6em;
  color: #F4F4F4;
  text-align: center; }
  .navbar .active a {
    color: #a0adb7 !important; }
  .navbar ul.pages {
    display: inline-block;
    color: #233237;
    height: 0.8em;
    font-size: 1.45em;
    margin-top: 1.25em; }
    .navbar ul.pages li.page {
      margin-left: 0.5em;
      margin-right: 0.5em;
      top: 0.8em;
      color: #233237;
      display: inline-block; }
      .navbar ul.pages li.page a {
        color: #233237;
        text-decoration: none; }
      .navbar ul.pages li.page a:hover {
        color: #c2bba8;
        background-color: transparent; }
    .navbar ul.pages #nav-brand {
      margin-top: -1.5em;
      z-index: 999999; }

@media (max-width: 767px) {
  .navbar {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    .navbar .active a {
      color: #F4F4F4 !important; }
    .navbar a:hover {
      background-color: #a0adb7; }

  #mobile-menu {
    background-color: #859099;
    margin-top: 4.5em;
    padding-bottom: 2em; }
    #mobile-menu ul {
      display: inline-block;
      color: #233237;
      height: 0em;
      font-size: 2em;
      margin: 0; }
      #mobile-menu ul li.page {
        margin: 0;
        top: 0em; } }
.navbar-toggler {
  font-size: 2.5em;
  float: right;
  outline: 0 !important; }
  .navbar-toggler .navbar-toggler:focus:active {
    outline: 0 !important; }

footer {
  background-color: #233237;
  width: 100%;
  min-height: 10em;
  position: fixed;
  bottom: 0; }

div.footer-container {
  background-color: #233237;
  clear: both;
  color: #c2bba8;
  width: 100%; }
  div.footer-container #footer-contents {
    width: 75%;
    margin: auto; }
  div.footer-container .footer-links ul {
    padding-top: 1.9em; }
  div.footer-container .footer-links li {
    list-style: none;
    padding-top: .3em;
    font-size: 1.5em;
    font-weight: 400; }
  div.footer-container .footer-links a {
    color: #c2bba8; }
  div.footer-container .footer-links a:hover {
    color: #F4F4F4;
    text-decoration: none; }
  div.footer-container #footer-social {
    height: 15em;
    line-height: 15em;
    float: right; }
    div.footer-container #footer-social .btn {
      background-color: #c2bba8;
      color: #233237;
      border-radius: 0.5em;
      margin-bottom: 0.5em;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
    div.footer-container #footer-social .btn:hover {
      background-color: #F4F4F4; }
    div.footer-container #footer-social a {
      color: #c2bba8;
      text-decoration: none; }
    div.footer-container #footer-social a:hover {
      color: #F4F4F4; }
    div.footer-container #footer-social .fa-facebook-square {
      font-size: 5em; }
    div.footer-container #footer-social .fa-twitter-square {
      font-size: 5em;
      padding-left: .3em; }
  @media (max-width: 700px) {
    div.footer-container #footer-social {
      float: none;
      text-align: center;
      line-height: 0em;
      height: auto; } }

@font-face {
  font-family: 'Oswald-Bold';
  src: url("../fonts/Oswald-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Oswald-Light';
  src: url("../fonts/Oswald-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Oswald-Regular';
  src: url("../fonts/Oswald-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Seale-font';
  src: url("../fonts/Seale-font.ttf") format("truetype"); }
@font-face {
  font-family: 'Abolon';
  src: url("../fonts/Abolon.otf") format("opentype");
  src: url("../fonts/Abolon.ttf") format("truetype"); }

/*# sourceMappingURL=application.css.map */
