<!--PAGE CONTENT BEGINS-->
<div id="about-main-container">
    <div class="col-md-12 hidden-md-up">
        <div class="mobile-portrait"></div>
    </div>
    <div id="chris-container">
        <div class="modal fade" id="chris-resume-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-label">Chris Seale - Resume</h4>
                    </div>
                    <div class="modal-body">
                        <!--your resume here-->
                        <h3>About Me</h3>
                        <p>Former therapist changing careers, moving from the psychology world into the web design world after realizing web development is where my passion lies. I have a keen interest in continuing to learn and grown my knowledge base in
                            multiple languages and frameworks for web development. I would like to bridge the gap between object-oriented and functional programming. Ultimately, the most important thing is what dazzles on the page. I am versed in languages
                            like HTML, CSS/LESS/SASS, Javascript, Typescript, Jquery, etc. I tend to do work in frameworks like Angular, Wordpress, React, PlatypusTS, and more. In addition, I have an in depth knowledge of Photoshop, Illustrator, SQL,
                            and a working knowledge of various other programs. Every day, I learn at least one new thing to help me along the way. </p>
                        <br>
                        <h3>Education</h3>
                        <h5>Depot/U at Innovation Depot-Endorsed by UAB Collat School of Business – Birmingham, AL</h4>
                            <p>Certificate in Front End Engineering – April, 2016</p>
                            <h5>Adler School of Professional Psychology (now Adler University) - Chicago, IL</h5>
                            <p>2004 - 2007</p>
                            <h5>East Carolina University - Greenville, NC</h5>
                            <p>MA in sociology - 2002</p>
                            <h5>University of Alabama - Tuscaloosa, AL</h5>
                            <p>BS/BA in psychology/philosophy - 1999</p>
                            <br>
                            <h3>Relevant Experience</h3>
                            <h6><i>*note: Most of my work experience has been in mental health, making much of it only so applicable. Therefore, much of it is omitted.</i></h6>
                            <h5><a href="http://www.dbsalliance.org/site/PageServer?pagename=bmpn_learn_podcasts_for_teens" target="_blank">Child & Adolescent Bipolar Foundation (CABF)</a> (children's mental health non-profit)</h5>
                            <h5>March 2007 to December 2010</h5>
                            <ul>
                                <li>Podcast supervisor/creator for a nationally recognized mental health podcast, Flipswitch</li>
                                <li>Created podcast with generated content at a time when podcasting barely existed</li>
                                <li>Designed brochures to feature on site and to distribute in person using Photoshop, InDesign</li>
                                <li>Created various graphics for site using html, css, Photoshop, Illustrator, and more</li>
                                <li>Performed light html/css coding</li>
                                <li>Created copy for a younger audience focusing on issues of good mental hygene</li>
                                <li>Worked on all audio work and loading using Logic Pro and various audio equipment</li>
                                <li>Organized volunteers for hosting duties on Flipswitch</li>
                                <li>Worked with third-party web design team to create blog and templates for site</li>
                                <li>Convinced office to switch from PC's to Mac OS, and acted as a staff helpdesk to help the transition</li>
                                <li>CABF folded into the Depression and Bipolar Support Alliance (DBSA) in 2012</li>
                                <li class="spacer">While most of CABF's site is now gone, past podcast episodes can still be accessed in the link above</li>
                            </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-sm-down">
                <div id="chris-image">
                    <img src="images/headshot2.png" alt="Chris Seale" />
                </div>
            </div>
            <div class="col-md-10">
                <div id="chris-info">
                    <div class="chris-titles">
                        <h2>chris seale</h2>
                    </div>
                    <div class="chris-titles">
                        <h3 class="hidden-sm-down">co-founder of two-headed seal</h3>
                        <h5 class="hidden-md-up">co-founder of two-headed seal</h5>
                    </div>
                    <span class="about-para">Seal? Seale? See what we did there? Yes? No? Ok, moving on…In another life, Chris was a therapist, heavily involved in mental health advocacy in non-profits. After many years and many diplomas, he realized that his passions lie more in the digital art projects he worked on for fun in his spare time. He decided to take that love of design, combine it with his unique perspective, and apply it to the world of online development. Chris was professionally trained in web development at Depot/U in Birmingham, AL and is adept at multiple coding languages and frameworks. Check out Chris's portfolio <a href="chrissealeportfolio.html">here</a>.</span>
                    <BR>
                    <BR>
                    <div class="contact-info">
                        <a class="email-address" href="mailto:chris.seale@twoheadedseal.com">email</a>
                        <button type="button" class="resume-button" data-toggle="modal" data-target="#chris-resume-modal">resume</button>
                        <br class="hidden-md-up">
                        <a class="github-logo" target="_blank" rel="noopener" href="https://github.com/chrisseale1"><img src="images/GitHub_Logo.png" alt="GitHub" /></a>
                        <a class="linkedin-logo" target="_blank" rel="noopener" href="https://www.linkedin.com/in/chris-seale-530b60122
"><img src="images/linkedin_logo.png" alt="LinkedIn" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gradient-line hidden-md-up"></div>
    <div class="col-md-12 hidden-md-up">
        <div class="mobile-portrait-jess"></div>
    </div>
    <div id="jess-container">
        <div class="modal fade" id="jessica-resume-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-label">Jessica Larsen - Resume</h4>
                    </div>
                    <div class="modal-body">
                        <h3>About Me</h3>
                        <p>After 14 years in eCommerce, I decided to take a scary leap and change careers. While web design was an extremely minor and rare aspect of my job, I found so much enjoyment and satisfaction in it, that it was easy to choose it
                            as my new direction in life. Since graduating from Depot/U’s Front End Engineering program, I’m very comfortable with HTML, CSS/LESS and moderate JavaScript. I also have some experience with jQuery, DOM Interaction, API, Bootstrap,
                            AngularJS, Typescript, PlatypusTS, and UI design. I have an eye on learning PHP, SQL, ReactJS and Ruby on Rails, among others. You can never stop learning.</p>
                        <br>
                        <h3>Education</h3>
                        <h5>Depot/U at Innovation Depot-Endorsed by UAB Collat School of Business – Birmingham, AL</h4>
                            <p>Certificate in Front End Engineering – April, 2016</p>
                            <h5>University of Montevallo - Montevallo, AL</h5>
                            <p>Pursued a Bachelors of Social Sciences</p>
                            <br>
                            <h3>Experience</h3>
                            <h5><a href="http://racingusa.com/" target="_blank">RacingUSA.com</a> (eCommerce Retailer)</h5>
                            <h5>Jan 2002 to February 2016</h5>
                            <ul>
                                <li>Handled addition of products to the website</li>
                                <li>Created graphics to advertise new products, promotions and announcements using Corel PaintShop Pro as well as some work with Photoshop Elements</li>
                                <li>Photographed products for display on the website</li>
                                <li>Assisted with marketing emails and promotions</li>
                                <li>Performed light html/css coding</li>
                                <li>Maintained search engine optimization standards on the website</li>
                                <li>Oversaw computer hardware and software system maintenance and upgrades, including office workstations, registers and server</li>
                                <li>Ordered supplies for the office and warehouse</li>
                                <li>Designed and created printable image files for apparel</li>
                                <li>Operated and maintained the apparel printing machines</li>
                                <li>Previously acted as the Customer Service Manager from Jan 2002 through 2005 where I assisted customers by both email and phone to resolve issues and answer questions</li>
                                <li>Comfortable using Microsoft Word, Excel, Outlook, all browsers and both PCs & Macs</li>
                                <li class="spacer">Left this position to attend Depot/U for Front End Engineering / Web Application Design</li>
                            </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div id="jess-info">
                    <div class="jess-titles">
                        <h2>jessica larsen</h2>
                    </div>
                    <div class="jess-titles">
                        <h3 class="hidden-sm-down">co-founder of two-headed seal</h3>
                        <h5 class="hidden-md-up">co-founder of two-headed seal</h5>
                    </div>
                    <span class="about-para">Jessica Larsen spent well over a decade in e-Commerce, when she decided it was time for something new. After realizing that she found extreme satisfaction in wrangling code into shape, she decided to take the leap and attend Birmingham’s Depot/U Front End Engineering program to become a professional web developer. She now mixes her 14 years of experience with online marketing and user interface planning, with her new language and framework knowledge, to build clean, easy to navigate websites. Check out Jessica's portfolio <a href="jessicalarsenportfolio.html">here</a>.</span>
                    <BR>
                    <BR>
                    <div class="contact-info">
                        <a class="email-address" href="mailto:jessica.larsen@twoheadedseal.com">email</a>
                        <button type="button" class="resume-button" data-toggle="modal" data-target="#jessica-resume-modal">resume</button>
                        <br class="hidden-md-up">
                        <a class="github-logo" target="_blank" rel="noopener" href="https://github.com/jesla"><img src="images/GitHub_Logo.png" alt="GitHub" /></a>
                        <a class="linkedin-logo" target="_blank" rel="noopener" href="https://www.linkedin.com/in/jessica-larsen-3b04b5119
"><img src="images/linkedin_logo.png" alt="LinkedIn" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-sm-down">
                <div id="jess-image">
                    <img src="images/jess.png" alt="Jessica Larsen" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--PAGE CONTENT ENDS-->