<!--PAGE CONTENT BEGINS-->
<div class="splash container">
    <div class="container brand-holder">
        <h1 class="welcome hidden-sm-down">two-headed seal web design</h1>
        <div class="gradient-line hidden-md-up"></div>
        <img id="nav-brand" class="hidden-lg-up" src="images/nav-logo2.png" width="270" alt="Two-Headed Seal Logo">
        <h3 class="hidden-md-up">two-headed seal web design</h3>
        <div class="gradient-line hidden-md-up"></div>
    </div>
    <div class="row">
        <div class="constrain-contain">
            <div class="col-md-2"></div>
            <div class="col-md-4 hidden-md-down slide-container">
                <div class="slide transform multi">
                    <img src="images/sealhead3.jpg" alt="Roaring lion seal" width="450px 250px" />
                </div>
            </div>
            <div class="col-md-4 hidden-md-down slide-container2">
                <div class="slide2 transform2 multi2">
                    <img src="images/sealhead1-copy.png" alt="profile of a lion seal" width="450px 250px" />
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!--end jumbotron/begin mini image containers-->
<div class="row">
    <div class="container">
        <div class="mini-container">
            <div class="col-md-4">
                <h2>Professionally Trained</h2>
                <div class="mini-image1"></div>
                <p>The industry moves fast. You need to know your website is up to date with the latest trends in the web design world. Let our professionally trained staff keep your web presence fresh and relevant.</p>
                <a class="btn btn-default" href="services.html" role="button">Learn More</a>
            </div>
        </div>
        <div class="gradient-line hidden-md-up"></div>
        <div class="mini-container">
            <div class="col-md-4">
                <h2 class="hidden-lg-down">Responsive Design</h2>
                <h2 class="hidden-xl-up hidden-sm-down">Responsive<br>Design</h2>
                <h2 class="hidden-md-up">Responsive Design</h2>
                <div class="mini-image2"></div>
                <p class="hidden-sm-down">Take a moment to resize this page in your browser. Notice it changes to fit the size of the screen? Not an accident. Let us make your site responsive across devices to maintain the integrity of your vision.
                </p>
                <p class="hidden-md-up">Your site needs to look good on a desktop, a browser, a tablet, and more. Responsive design is a big focus at Two-Headed Seal. Let us maintain the integrity of your vision no matter what device it's on.
                </p>
                <a class="btn btn-default" href="services.html" role="button">Learn More</a>
            </div>
        </div>
        <div class="gradient-line hidden-md-up"></div>
        <div class="mini-container">
            <div class="col-md-4">
                <h2>Complete Customization</h2>
                <div class="mini-image3"></div>
                <p>Your web presence the way you want it. Two-Headed Seal helps match the exact vision you have to the site that everyone sees. Customize the colors, shapes, and functionality that define your business.</p>
                <a class="btn btn-default" href="services.html" role="button">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!--PAGE CONTENT ENDS-->