<!--PAGE CONTENT BEGINS-->
<div id="main-portfolio-container">
    <!-- WEB DESIGN MODALS -->
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-one" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel Depot/U Group Project: Desktop Homepage</h4>
                </div>
                <div class="modal-body">
                    <img alt="mouthfeel desktop hompage" src="images/portfolio-web/mouthfeel-desktop1.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-two" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel Desktop Clients Page: Shows location of most prominent serviced clients</h4>
                </div>
                <div class="modal-body">
                    <img alt="Map with pins showing location of Birmingham clients." src="images/portfolio-web/mouthfeel-desktop2.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-three" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel: About Us Page on Desktop</h4>
                </div>
                <div class="modal-body">
                    <img alt="about us showing Our Story" src="images/portfolio-web/mouthfeel-desktop3.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-four" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel: Desktop Contact Page With Form</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mouthfeel desktop contact form on page" src="images/portfolio-web/mouthfeel-desktop4.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-five" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel: Mobile Front Page With Rotating Carousel</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mouthfeel mobile homepage with taste what's inteded jumbotron." src="images/portfolio-web/mouthfeel-mobile1.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-six" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel: Mobile Dropdown on Click</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mouthfeel mobile dropdown menue in action." src="images/portfolio-web/mouthfeel-mobile2.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-seven" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel: Mobile Version of Contact Page</h4>
                </div>
                <div class="modal-body">
                    <img alt="What the Mouthfeel contact form looks like on mobile." src="images/portfolio-web/mouthfeel-mobile3.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-eight" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Mouthfeel: Mobile Version of Clients Page</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mouthfeel client page on mobile featuring client logos." src="images/portfolio-web/mouthfeel-mobile4.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-nine" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets Depot/U Group Project - A Special Needs Pet Adoption and Resources Site</h4>
                </div>
                <div class="modal-body">
                    <img alt="Desktop homepage of Extraordinary Pets showing search feature with Aurelia the cat." src="images/portfolio-web/pet-home-desk.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-ten" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Adoption Search Results</h4>
                </div>
                <div class="modal-body">
                    <img alt="Desktop Extraordinary Pets search results showing multiple dogs for adoption with names and ages." src="images/portfolio-web/pet-search-desk.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-eleven" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Owner Resources</h4>
                </div>
                <div class="modal-body">
                    <img alt="Desktop Extraordinary Pets owner resources page with picture of cat in wheelchair." src="images/portfolio-web/pet-resources-desk.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-twelve" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Owner Resources Category Menu</h4>
                </div>
                <div class="modal-body">
                    <img alt="Desktop Extraordinary Pets list of owner resources in popup modal." src="images/portfolio-web/pet-resources-modal.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-thirteen" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Resources Mobile View</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mobile view of Extraordinary Pets resource page, with cat in wheelchair." src="images/portfolio-web/pet-resources-mobile.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-fourteen" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Vet Finder</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mobile Extraordinary Pets page with a vet finder map." src="images/portfolio-web/pet-vetfinder-desk.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-fifteen" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Name Generator</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mobile Extraordinary certificate of adoption." src="images/portfolio-web/pet-namegen-desk.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="web-modal-sixteen" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Extraordinary Pets - Name Generator Mobile View</h4>
                </div>
                <div class="modal-body">
                    <img alt="Mobile Extraordinary Pets name generator page." src="images/portfolio-web/pet-name-gen-mobile.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--WEB DESIGN PORTFOLIO SECTION-->
    <div class="port-container">
        <h1>web design portfolio</h1>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-one" data-toggle="modal" id="web-thumb-one" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-two" data-toggle="modal" id="web-thumb-two" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-three" data-toggle="modal" id="web-thumb-three" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-four" data-toggle="modal" id="web-thumb-four" type="button"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-five" data-toggle="modal" id="web-thumb-five" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-six" data-toggle="modal" id="web-thumb-six" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-seven" data-toggle="modal" id="web-thumb-seven" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-eight" data-toggle="modal" id="web-thumb-eight" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-nine" data-toggle="modal" id="web-thumb-nine" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-ten" data-toggle="modal" id="web-thumb-ten" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-eleven" data-toggle="modal" id="web-thumb-eleven" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-twelve" data-toggle="modal" id="web-thumb-twelve" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-thirteen" data-toggle="modal" id="web-thumb-thirteen" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-fourteen" data-toggle="modal" id="web-thumb-fourteen" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-fifteen" data-toggle="modal" id="web-thumb-fifteen" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#web-modal-sixteen" data-toggle="modal" id="web-thumb-sixteen" type="button"></button>
            </div>
        </div>
    </div>
    <!-- GRAPHIC DESIGN MODALS -->
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-one" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Wiki-Therapy: Designed for an Online Newsletter</h4>
                </div>
                <div class="modal-body">
                    <img alt="Man with robot head connected to computer does therapy with man on couch." src="images/portfolio-graphic/wikitherapy.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-two" role="dialog" tabindex="-1">
        <div class="modal-dialog" id="mary-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Portrait Touch-Up Comparison</h4>
                </div>
                <div class="modal-body">
                    <img alt="Before and after shot of model Mary with touch ups." src="images/portfolio-graphic/MaryPhotoshop.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-three" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Movie Mash-Up</h4>
                </div>
                <div class="modal-body">
                    <img alt="Fight Club of the Ya Ya Sisterhood." src="images/portfolio-graphic/fightclubyaya1.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-four" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Groucho-esque: Digital Oil Painting</h4>
                </div>
                <div class="modal-body">
                    <img alt="Digital oil painting of person dressed as Groucho Marx." src="images/portfolio-graphic/GrouchoYang.png" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-five" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Sin City Night: Digital Comic Illustration</h4>
                </div>
                <div class="modal-body">
                    <img alt="Digital comic illustration of man in rain with gun in style of Sin City." src="images/portfolio-graphic/Mattsincity.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-six" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Digital Patch: All Parts of Patch Created From Scratch</h4>
                </div>
                <div class="modal-body">
                    <img alt="Digitally created lifelike jacket patch with model Shira on it." src="images/portfolio-graphic/Shirapatch.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-seven" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">CABF: Brochure produced for the CABF for an anti-stigma campaign.</h4>
                </div>
                <div class="modal-body">
                    <img alt="Layout of a blue Brochure with a sad looking girl on it and a call to action." src="images/portfolio-graphic/CABFbrochure.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div aria-labelledby="modal-label" class="modal fade" id="graphic-modal-eight" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
                    <h4 class="modal-title" id="modal-label">Statues of Aristotle and Julius Caesar turned into digital illustrations</h4>
                </div>
                <div class="modal-body">
                    <img alt="Statued busts of Aristotle & Julius Caesar turned into illustrations." src="images/portfolio-graphic/aristotle&juliuscaesar.jpg" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--GRAPHIC DESIGN PORTFOLIO SECTION-->
    <div class="port-container">
        <h1>graphic design portfolio</h1>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-one" data-toggle="modal" id="graphic-thumb-one" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-two" data-toggle="modal" id="graphic-thumb-two" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-three" data-toggle="modal" id="graphic-thumb-three" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-four" data-toggle="modal" id="graphic-thumb-four" type="button"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-five" data-toggle="modal" id="graphic-thumb-five" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-six" data-toggle="modal" id="graphic-thumb-six" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-seven" data-toggle="modal" id="graphic-thumb-seven" type="button"></button>
            </div>
            <div class="col-xs-12 col-md-3">
                <button class="thumbnail" data-target="#graphic-modal-eight" data-toggle="modal" id="graphic-thumb-eight" type="button"></button>
            </div>
        </div>
    </div>
</div>
<!--PAGE CONTENT ENDS-->