<!--PAGE CONTENT BEGINS-->
<div class="services-main-container">
    <div id="webdesign-container">
        <div class="row">
            <div class="col-sm-12 col-md-3 hidden-sm-down">
                <div alt="Web Design" id="webdesign-image"></div>
            </div>
            <div class="hidden-md-up">
                <div alt="Web Design" id="webdesign-image-mobile"></div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div id="webdesign-info">
                    <div class="title">
                        <h1>web design</h1>
                    </div>
                    <span class="services-para">Web design can get pretty complicated. Let Two-Headed Seal's professionally trained web designers make achieving your vision simple. We'll make sure your site looks beautiful across devices with a strong
          responsive design that attracts views. With the ability to fully customize your site to your specifications, all you need to bring is your passion, we'll take care of the rest!</span>
                </div>
            </div>
        </div>
    </div>
    <div id="seo-container">
        <div class="row image-right">
            <div class="hidden-md-up">
                <div alt="SEO" id="seo-image-mobile"></div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div id="seo-info">
                    <div class="title">
                        <h1>seo</h1>
                    </div>
                    <span class="services-para">You've poured your heart and soul into that beautiful website, but is anybody seeing it? In today's world, SEO (search engine optimization) is a critical part of making sure people find your site. Two-Headed
          Seal can optimize your site and ensure all of your effort isn't going to waste.</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 hidden-sm-down">
                <div alt="SEO" id="seo-image"></div>
            </div>
        </div>
    </div>
    <div id="graphicdesign-container">
        <div class="row">
            <div class="col-sm-12 col-md-3 hidden-sm-down">
                <div alt="Graphic Design" id="graphicdesign-image"></div>
            </div>
            <div class="hidden-md-up">
                <div alt="Graphic Design" id="graphicdesign-image-mobile"></div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div id="webdesign-info">
                    <div class="title">
                        <h1>graphic design</h1>
                    </div>
                    <span class="services-para">Part of creating a fanstastic website involves, you guessed it, designing graphics for the site. Using the latest digital programs like Photoshop, Illustrator, Flash, etc, Two-Headed Seal can make graphics for
          your site that pop. Need a special emphatic button? Need a cartoonized version of yourself for your site? Let Two-Headed Seal take care of that for you.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--PAGE CONTENT ENDS-->