<!--PAGE CONTENT BEGINS-->
<div id="tools-main-container">
    <div id="tools-title">
        <h1>our toolbox</h1>
        <h6>(hover and click!)</h6>
    </div>
    <ul class="tool-list noSelect">
        <li class="left" id="htmlExample">HTML</li>
        <li class="right" id="cssExample">
            <a alt="Some CSS code for this very site!" href="/images/tools-modal/cssImg.png" width="10">CSS/Less/Sass</a>
        </li>
        <li class="left" id="javascriptExample">Javascript</li>
        <li class="right" id="angularExample">
            <a alt="Coming soon!" href="/images/tools-modal/comingSoon.jpg">AngularJS</a>
        </li>
        <li class="left" id="typescriptExample">
            <a alt="Coming soon!" href="/images/tools-modal/comingSoon.jpg">Typescript</a>
        </li>
        <li class="right md-trigger" data-model="modal-16" id="pythonExample">Python</li>
        <li class="left" id="sqlExample">
            <a alt="SQL Workbench and sample complex SQL query" href="/images/tools-modal/sql.png">SQL</a>
        </li>
        <li class="right md-trigger" data-modal="modal-12" id="jqueryExample">jQuery</li>
        <li class="left" id="phpExample">
            <a alt="Coming soon!" href="/images/tools-modal/comingSoon.jpg">PHP</a>
        </li>
        <li class="right" id="bootstrapExample">Bootstrap</li>
        <li class="left" id="nodeExample">
            <a alt="terminal window that says npm install two-headed seal secret sauce" href="/images/tools-modal/npmexamp.png">nodeJS</a>
        </li>
        <li class="right" id="photoshopExample">
            <a alt="Know where you are" href="/images/tools-modal/photoshopImg.png">Photoshop</a>
        </li>
        <li class="left" id="flashMXExample">
            <a alt="Coming soon!" href="/images/tools-modal/comingSoon.jpg">FlashMX</a>
        </li>
        <li class="right" id="illustratorExample">
            <a alt="Our logo was created in Illustrator!" href="/images/tools-modal/illustratorLogo.jpg">Illustrator</a>
        </li>
        <li class="left" id="fontExample">Font Construction</li>
        <li class="right" id="adobeXDExample">
            <a alt="We mockup wireframes of all of our sites before production!" href="/images/tools-modal/adobeXD-mockup.png">AdobeXD</a>
        </li>
    </ul>
</div>
<!---Modal-->
<div class="md-container md-effect-12" id="modal-12">
    <div class="md-content">
        <h3>This whole box was created with jQuery! Woo!</h3>
        <div>
            <p>We use jQuery in a number of roles at Two-Headed Seal</p>
            <ul>
                <li>
                    <strong>Animation:</strong>Zoom, flip, somersault! jQuery makes animations of elements a snap!</li>
                <li>
                    <strong>DOM Manipulation:</strong>Getting code to the page is made easy by the famous jQuery "$"!</li>
                <li>
                    <strong>Plugins:</strong>With all of the available jQuery plugins, time is saved on each project.</li>
            </ul>
            <button class="md-close">Back to the list!</button>
        </div>
    </div>
</div>
<div class="md-overlay"></div>
<!--PAGE CONTENT ENDS-->