//fonts
//oswald
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

//seale
@font-face {
    font-family: 'Seale-font';
    src: url('../fonts/Seale-font.ttf') format('truetype');
}

//abolon
@font-face {
    font-family: 'Abolon';
    src: url('../fonts/Abolon.otf') format('opentype');
    src: url('../fonts/Abolon.ttf') format('truetype');
}