@import url('/fonts/Abolon.otf');
@import url('/fonts/Abolon.ttf');
@import url('/fonts/Oswald-Bold.ttf');
@import url('/fonts/Oswald-Light.ttf');
@import url('/fonts/Oswald-Regular.ttf');
@import url('/fonts/Seale-font.ttf');
//fonts
$abolon:'Abolon',
serif;
$oswaldBold: 'Oswald-Bold',
serif;
$oswaldRegular: 'Oswald-Regular',
serif;
$oswaldLight: 'Oswald-Light',
serif;
$seale: 'Seale-font',
serif;