// Basic colors
$baseDark :#233237;
$baseGray :#a0adb7;
$baseSand: #c2bba8;
$baseWhite: #F4F4F4;
// Colors for layout
$color-background-base: $baseWhite;
$color-text-base: $baseDark;
// Font stacks
$stack-sans-serif: Helvetica,
Arial,
sans-serif;
$stack-helvetica: 'Helvetica Neue',
$stack-sans-serif;
$stack-abolition: 'Abolition Regular',
$stack-sans-serif;